
@{
    ViewBag.Title = "CodeRuleSegConfig";
}
<div class="layui-container" ng-controller="codeRuleSegConfigController">
    <div style="height: 20px"></div>
    <div class="layui-row">
        <div class="layui-col-md12 layui-col-xs12 layui-col-lg12 layui-col-sm12">
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item" id="argsItems">
                    
                </div>
            </form>
        </div>
    </div>
</div>

<script src=@Url.Content("~/Scripts/CodeRule/CodeRuleSeg.js")></script>